@model FirstProject.Models.HeadSection

@{
    ViewData["Title"] = "Edit Site Information";
	ViewData["AdminId"] = ViewBag.AdminId;
    ViewData["AdminName"] = ViewBag.AdminName;
    ViewData["AdminIamge"] = ViewBag.AdminIamge;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="AdminDashboard" asp-action="Index">Home</a></li>
          <li class="breadcrumb-item"><a asp-action="Index" asp-controller="HeadSections">Site Information</a></li>
          <li class="breadcrumb-item active">Edit Site Information</li>
        </ol>
      </nav>
</div><!-- End Page Title -->

<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="card card-statistics h-100">
                <div class="card-body">
							<div class="x_panel">
								<div class="x_title">
									<h2>Edit Site Information</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
										<li><a class="close-link"><i class="fa fa-close"></i></a></li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" asp-action="Edit" enctype="multipart/form-data">
										 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<input type="hidden" asp-for="Id" />
										 <div class="item form-group">
											<label class="text-dark font-weight-bold col-md-3 col-sm-3 label-align">Site Name <span class="text-danger">*</span></label>
											<div class="col-md-6 col-sm-6 ">
												<input asp-for="ClinicName" class="form-control" required />
												<span asp-validation-for="ClinicName" class="text-danger"></span>
											</div>
										</div>
										<div class="item form-group py-2">
											<label class="text-dark font-weight-bold col-md-3 col-sm-3 label-align">Site Email <span class="text-danger">*</span></label>
											<div class="col-md-6 col-sm-6 ">
												<input asp-for="ClinicEmail" type="email" class="form-control " required />
												<span asp-validation-for="ClinicEmail" class="text-danger"></span>
											</div>
										</div>
										<div class="item form-group py-2">
											<label class="text-dark font-weight-bold col-md-3 col-sm-3 label-align">Site Address <span class="text-danger">*</span></label>
											<div class="col-md-6 col-sm-6 ">
												<input asp-for="ClinicAddress" class="form-control " required />
												<span asp-validation-for="ClinicAddress" class="text-danger"></span>
											</div>
										</div>
										<div class="item form-group py-2">
											<label class="text-dark font-weight-bold col-md-3 col-sm-3 label-align">Clinc Image :</label>
											<div class="col-md-6 col-sm-6 ">
											<img class="img-fluid" src =@Url.Content("~/Attachments/HeadSectionAttachment/"+ @Model.ImagePath) alt="iamge" width=100 height=100/>
											</div>
										</div>
										
										 <div class="item form-group py-2">
                                            <label class="text-dark font-weight-bold col-md-3 col-sm-3 label-align">Uplode Clinc Image <span class="text-danger">*</span></label>
											<input class="form-control-file" asp-for="ImageFile" />
                                             <span asp-validation-for="ImageFile" class="text-danger"></span>
                                          </div>
						
										<div class="item form-group py-2">
											<div class="col-md-6 col-sm-6 offset-md-3">
												<input type="submit" class="btn btn-success text-white" value="Save Data">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					</div>
					</div>
